.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (max-width: 1023px) {
    margin-bottom: 30px;
  }
}

.itemsBlock {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px 10px;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
    max-height: none;
    overflow-y: inherit;
    overflow-x: inherit;
    height: auto;
  }
}
