.item {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  min-width: 216px;
  min-height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 0;
  left: 0;
  margin: 15px;
  .itemHover {
    display: none;
  }

  &:hover {
    /* filter: blur(2px);
    opacity: 0.5; */
    transition: 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.1);

    .itemHover {
      display: flex;
      align-items: center;
      transition: 0.3s ease-in-out;
      background: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .addToCart {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;

        button {
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          background: #0b0c23;
          padding: 15px;
          margin: 3rem;
          width: calc(100% - 50px);
          height: 100%;
          border-radius: 5px;
          &:hover {
            background: #1b1b67;
            transition: 0.2s ease-in-out;
          }
          &:active {
            background: #0b0c23;
            transition: 0.2s ease-in-out;
          }

          @media screen and (max-width: 1023px) {
            font-size: 24px;
            padding: 30px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    min-height: calc(100vw - 90px);
    font-size: 24px;
    min-width: calc(100vw - 90px);
    margin: 15px 0;
    width: 100%;
  }

  .itemDescriptionBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    pointer-events: none;
  }
  .itemPhoto {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    img {
      width: 60%;
    }

    /* @media screen and (max-width: 1023px) {
      width: 100%;
    } */
  }
  .itemPriceBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .itemPrice {
      font-size: 16px;
      font-weight: 700;
      @media screen and (max-width: 1023px) {
        font-size: 46px;
      }
    }
    .itemType {
      color: forestgreen;
      @media screen and (max-width: 1023px) {
        font-size: 24px;
      }
    }
  }
}
